root = true

[*.cs]
# Keep one blank line between using directives, namespace declarations,
# and public type declarations.
indent_style = space
indent_size = 2
csharp_new_line_before_open_brace = none
csharp_style_namespace_match_folder = false:suggestion
